<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    {{> header}}
    <h1>{{Pagetitle}}</h1>
    <h2>{{screamIt WelcomeMessage}}</h2>
    <p>some Text Here.</p>
{{>footer}}
  </body>
</html>
